<configuration>
    <connectionStrings>
        <add name="Connl1" connectionString="asdfasfa" providerName="Test"/>
        <add name="Connl2" connectionString="Sdfaf" providerName="Test234"/>
    </connectionStrings>
    <appSettings>
        <add key="server:Name" value="sxr"/>
        <add key="server:Age" value="23"/>
        <add key="server:Proxy:Address" value="jiangsu"/>
        <add key="server:Proxy:Port" value="333"/>
        <add key="server:Proxy:ids:0" value="222"/>
        <add key="server:Proxy:ids:1" value="333"/>
    </appSettings>
</configuration>